.contact {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding-top: 50px;
  
    h1 {
      font-size: 40px;
    }
  
    span {
      max-width: 60%;
      text-align: center;
      margin-top: 20px;
    }
  
    .socials {
      margin: 100px 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  
      .social {
        background: linear-gradient(45deg, var(--clr-i), var(--clr-ii));
  
        h1 {
          font-size: 20px;
        }
      }
    }
  
    footer {
      margin-top: 40px;
      text-align: center;
    }
  }
  
  @media (max-width: 600px) {
    .contact {
      padding-top: 20px;
      min-height: 80vh;
  
      span {
        max-width: 100%;
      }
  
      .socials {
        margin: auto 0;
  
        .social {
          padding: 10px 12px;
          gap: 5px;
  
          h1 {
            font-size: 17px;
            padding-left: 3px;
          }
        }
      }
  
      footer {
        margin-top: 0;
      }
    }
  }
  